.item-video img {
	height: 200px;
  object-fit: cover;
}


.item-video h4 {
	height: 39px;
	overflow: hidden;
}

.item-video p {
	margin: 1px 0;
	color: #827d7d;
}

.item-video {
	margin: 10px 0 15px;
	border-radius: 0;
}

.item-video:hover {
	cursor: pointer;
}

.item-video .caption {
	background-color: #fbf9f9;
}